<div class="exam-container">
  <div class="exam-count">{{ exams.length }} examens à venir</div>

  <div *ngFor="let exam of exams" class="exam-card">
    <span class="exam-name">
      <span class="material-symbols-outlined">person</span>
      <strong>{{ exam | fullname }}</strong>
    </span>
    <span class="exam-location">
      <span class="material-symbols-outlined">location_on</span>
      <span [italicIfPending]="exam.location">{{ exam.location }}</span>
    </span>
    <span class="exam-date">
      <span class="material-symbols-outlined">calendar_today</span>
      <span [italicIfPending]="exam.date">{{ exam.date }}</span>
    </span>
    <span class="exam-time">
      <span class="material-symbols-outlined">schedule</span>
      <span [italicIfPending]="exam.time">{{ exam.time }}</span>
    </span>
    <span class="status" [ngClass]="getStatusInfo(exam.status).class">
      <span class="material-symbols-outlined">{{
        getStatusInfo(exam.status).icon
      }}</span>
      {{ exam.status }}
    </span>
  </div>
</div>
